.FOIL-navigation-bar-regular-shadow 
{
        padding: 16px 32px;
        background-color: transparent;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459);
}