/*****************************************************
        Font-Styles DIV Class
*******************************************************/
.FOIL-font-styles.impact {
        font-family: Impact;
}

.FOIL-font-styles.georgia {
        font-family: Georgia;
}

.FOIL-font-styles.verdana {
        font-family: Verdana;
}

.FOIL-font-styles.times {
        font-family: times;
}

.FOIL-font-styles.sans-serif {
        font-family: sans-serif;
}

.FOIL-font-styles.monospace {
        font-family: monospace;
}