/*****************************************************
        Regular Buttons DIV Class
*******************************************************/
.FOIL-button-regular {
        background-color: gray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459),
                0 20px 20px 0 rgba(61, 61, 61, 0.589);
}

/*************************************************************
        Regular Buttons NO SHADOW Feedback Behavior Parameters
**************************************************************/

.FOIL-button-regular-no-shadow:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-regular-no-shadow:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}

/*****************************************************
         Regular Buttons Color Substitutes 
*******************************************************/
.FOIL-button-regular.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-regular.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-regular.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-regular.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-regular.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-regular.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}

/*****************************************************
        Regular Buttons Feedback Behavior Parameters
*******************************************************/

.FOIL-button-regular:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-regular:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}

/*****************************************************
        Regular Buttons NO SHADOWS DIV class
*******************************************************/
.FOIL-button-regular-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}

/*****************************************************
         Regular Buttons Color Substitutes 
*******************************************************/

.FOIL-button-regular-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-regular-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}