/*****************************************************
        Small Buttons DIV Class
*******************************************************/
.FOIL-button-small {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}

/*****************************************************
         Small Buttons Color Substitutes 
*******************************************************/
.FOIL-button-small.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}

/*****************************************************
        Small Buttons Feedback Behavior Parameters
*******************************************************/

.FOIL-button-small:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-small:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}

/*****************************************************
        Small Buttons NO SHADOWS DIV class
*******************************************************/
.FOIL-button-small-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}

/*****************************************************
         Small Buttons Color Substitutes 
*******************************************************/

.FOIL-button-small-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}

/*************************************************************
        Small Buttons NO SHADOW Feedback Behavior Parameters
**************************************************************/

.FOIL-button-small-no-shadow:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-small-no-shadow:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}


/*****************************************************
        Small Buttons NO-FEEDBACK DIV Class
*******************************************************/
.FOIL-button-small-no-feedback {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}

/*****************************************************
         Small Buttons NO FEEDBACK Color Substitutes 
*******************************************************/
.FOIL-button-small-no-feedback.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-feedback.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}


/*****************************************************
        Small Buttons NO-FEEDBACK NO SHADOWS 
*******************************************************/
.FOIL-button-small-no-feedback-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}

/********************************************************************
         Small Buttons NO FEEDBACK NO SHADOWS Color Substitutes
*********************************************************************/
.FOIL-button-small-no-feedback-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}