/*****************************************************
        Text-Header DIV Class
*******************************************************/
.FOIL-Text-Header-1 {
  font-size: 2em;
  font-weight: bolder;
}
.FOIL-Text-Header-2 {
  font-size: 1.5em;
  font-weight: bolder;
}
.FOIL-Text-Header-3 {
  font-size: 1.17em;
  font-weight: bolder;
}
.FOIL-Text-Header-4 {
  font-size: 1em;
  font-weight: bolder;
}
.FOIL-Text-Header-5 {
  font-size: 0.83em;
  font-weight: bolder;
}
.FOIL-Text-Header-6 {
  font-size: 0.67em;
  font-weight: bolder;
}
