/*****************************************************
         Highlight DIV Class
*******************************************************/
.FOIL-Highlight {
  background-color:transparent;
  color:transparent;
}


/*****************************************************
         Highlight Color Substitutes
*******************************************************/
.FOIL-Highlight.color-is-red {
  background-color: red;
}
.FOIL-Highlight.color-is-yellow {
  background-color: yellow;
}
.FOIL-Highlight.color-is-green {
  background-color: rgb(156, 223, 57);
}
/*****************************************************
         Highlight Text Color Substitutes
*******************************************************/
.FOIL-Highlight.text-color-is-white {
  color: white;
}
.FOIL-Highlight.text-color-is-black {
  color: black;
}
