/*****************************************************
        FOÏL UI.scss
        Version 3.0 Beta
*******************************************************/

/** 
 *      Variables 
 *
 *
 */

 $bodyFonts: Helvetica, Arial, sans-serif;
 $bodySize: 10px;


 $FOIL-scroll-mode: fixed;
 
 
 body {
         font: 100% $bodyFonts;
         height: $bodySize;
 }
 
 .FOIL-scroll-off-mode {
         position: $FOIL-scroll-mode;
 }
 
 
 