<link rel="stylesheet" href="../../FOIL-UI.css" type="text/css" />


<!-- FOIL-Layouts -->

<div class="FOIL-layout-squish-regular">Hello-World</div>

<div class="FOIL-layout-squish-regular color-is-red">Hello-World</div>

<div class="FOIL-layout-squish-regular color-is-black">Hello-World</div>

<div class="FOIL-layout-squish-regular color-is-yellow">Hello-World</div>

<div class="FOIL-layout-squish-regular color-is-green">Hello world</div>

<div class="FOIL-layout-squish-regular color-is-blue">Hello world</div>

<div class="FOIL-layout-squish-regular color-is-orange">Hello world</div>