<link rel="stylesheet" href="../../FOIL-UI.css" type="text/css" />


<!-- FOIL-Layouts Rounded-->

<div class="FOIL-layout-rounded">Hello-World</div>

<div class="FOIL-layout-rounded color-is-red">Hello-World</div>

<div class="FOIL-layout-rounded color-is-black">Hello-World</div>

<div class="FOIL-layout-rounded color-is-yellow">Hello-World</div>

<div class="FOIL-layout-rounded color-is-green">Hello world</div>

<div class="FOIL-layout-rounded color-is-blue">Hello world</div>

<div class="FOIL-layout-rounded color-is-orange">Hello world</div>