<link rel="stylesheet" href="../../FOIL-UI.css" type="text/css" />


<!-- FOIL-Layouts NO SHADOW-->

<div class="FOIL-Layout-regular-no-shadow">Hello-World</div>

<div class="FOIL-Layout-regular-no-shadow color-is-red">Hello-World</div>

<div class="FOIL-Layout-regular-no-shadow color-is-black">Hello-World</div>

<div class="FOIL-Layout-regular-no-shadow color-is-yellow">Hello-World</div>

<div class="FOIL-Layout-regular-no-shadow color-is-green">Hello world</div>

<div class="FOIL-Layout-regular-no-shadow color-is-blue">Hello world</div>

<div class="FOIL-Layout-regular-no-shadow color-is-orange">Hello world</div>