.FOIL-button-small-no-feedback-no-shadow.color-is-red 
{
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-black 
{
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-yellow 
{
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-green 
{
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-blue 
{
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-orange 
{
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-pink 
{
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-purple 
{
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}
