.FOIL-button-small-no-feedback 
{
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}
